<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>个人博客模板古典系列之――江南墨卷</title>
    {% endblock %}
    <meta name="keywords" content="个人博客模板古典系列之――江南墨卷" />
    <meta name="description" content="个人博客模板古典系列之――江南墨卷" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">

    {% block css %}

    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>
<body>
{% block header %}

{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}

{% endblock %}

{% block extjs %}

{% endblock %}
</body>
</html>