{% extends 'user_base.html' %}

{% block title %}
    <title>爱文 - 提供贴近生活的内容</title>
{% endblock %}

{% block content %}
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="{% url 'user:login' %}">登入</a></li>
                <li><a href="{% url 'user:register' %}">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">

                        <form method="post" action="">
{#                            <input type="hidden" name="_token" value="oTgY8c7wmXQYhKvE574YXsFO48qTRIZYOsU04NtM">#}
                            {% csrf_token %}
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">账号</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="username" required lay-verify="required"
                                           placeholder="请输入用户名或手机号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required"
                                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">人类验证</label>
                                <div class="layui-input-inline">
                                    <input id="L_vercode" name="captcha" required lay-verify="required"
                                           placeholder="请输入验证码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid" style="padding:0px !important;">
                                    <a href="javascript:;"><img class="change_captcha" id="captcha"
                                                                src="https://www.itgoodboy.com/captcha/flat?WkGXUigd"></a>
                                    <a class="change_captcha" href="javascript:;" style="color: orangered;">看不清？换一张</a>
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                                <span style="padding-left:20px;"></span>

                            </div>
                            <div class="layui-form-item fly-form-app">
                                <span>或者使用社交账号登入</span>
                                <a href="javascript:;" onclick="oauth.toQzoneLogin();" class="iconfont icon-qq"
                                   title="QQ登入">
                                </a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extjs %}
<script>
    layui.cache.page = 'index';
    layui.cache.user = {
        username: '游客',
        uid: 2,
        avatar: '/image/default.png',
        experience: 110,
        sum: 0,
        vip: 0,
        sex: ''
    };
    layui.config({version: Date.parse(new Date())}).extend({'fly': '/v2/js/index'}).use('fly');
</script>
{% endblock %}








